body {
	margin: 0;
	padding: 0;
}
#topbar {
	height: 52px;
	width: 100%;
	border-bottom: 1px solid #666;
	display: inline-block;
	background-color: #FFF;
	text-align: right;
	position: fixed;
	top:0;
}
#topbar button {
	background-color: #FFF;
}

#browser {
	margin-top: 52px;
	width: 100%;
}

#browserBar {
	border: 1px solid #e1e1e1;
	width: 100%;
}

#browserBar img {
	width: 100%;
}

#template {
	width: 100%;	
}

#template > * {
	padding-left: 26px;
}

#verticalContent {
	display: flex;	
}

#acquireIntent {
	display: block;
	font-size: 26px;
	width: 500px;
	margin: 52px auto;
}


#acquireIntent input {
	font-size: 26px;
	font-color: #333;
	padding: 10px 0 10px 24px;
	border: 1px solid #BBB;
}

.ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s {
	display: none !important;
}

#verticalAcquireSelect-button {
	background-color: white;
	width: 250px;
}

#verticalAcquireSelect-menu .ui-menu-item-wrapper {
	height: 32px;
	padding: 8px;
	font-size: 26px;
}

#siteTitleAcquire {
	width: 100%;
	margin-top: 30px;
	display: block;
	text-align: left;
}
#siteTitleAcquire > * {
	display: inline;
}

.preselect {
	margin-right: 16px;
}

#selectorAcquire {
	margin-top: 200px;
	width: 100%;
	display: block;
	text-align: left;
}

#selectorAcquire.open {
	height: 190px;
}
#selectorAcquire .preselect,
#selectorAcquire #verticalAcquireSelect-button {
	display: inline-block;
}

#continueButton1 {
	display: block;
	color: #555;
	margin-top: 190px;
	margin-left: 550px;
}

#sidebar {
	background-color: white	;
	border-left: 1px solid #e1e1e1;
	width: 280px;
	margin-top: 52px;
	font-size: 13px;
}

#sidebar, #acquireIntent, #designPicker, #siteTitleTop * {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}

#sidebar h4 {
	font-size: 13px !important;
	margin: 1em 0;
}

#sidebarFixed {
	position: fixed;
}

#selector, #siteTitle, #templates {
	padding: 1em 1em 3em;
	border-bottom: 1px solid #e1e1e1;
}

#updateButton {
	bottom: 0;
	position: fixed;
	padding: 3em;
	font-size:13px;
}

#updateButton button {
	font-size: 13px;
	background-color: #339;
	padding: 16px 40px;
}

#templates img {
	width: 90%;
	margin: 5%;
}

#templates img.selected { 
	border: 3px solid #EE4;
}

#designPicker {
	position: absolute;
	top: 0;
	left: auto;
	display: block;
	text-align: center;
	width: 100%;
	margin: 200px auto;
	font-size: 26px;
}

#designPicker img {
	margin: 20px;
	border: 3px solid white;
}

#designPicker img:hover {
	border: 3px solid gold;
	cursor: pointer;
}

#siteTitleTop {
	padding: 8px 28px;
	float:left;
	max-width: 500px;
}

#siteTitleTop .titleTopBar,
#siteTitleTop .domainTopBar {
	text-align: left;
	display: inline-block;
	width: 100%;
	line-height: 1em;
}
#siteTitleTop .titleTopBar {
	font-size: 18px;
	margin-bottom: 4px;
}
#siteTitleTop .domainTopBar {
	font-size: 12px;
	color: #777;
}
